
.showcase video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.center {
    animation: frame 1s linear infinite;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes frame{
          0%{
           transform: scale(.7);
           opacity: 0;
    }
          35%{ 
           transform: scale(.8);
           opacity: .4;
    }
       55%{    
           transform: scale(.9);
           opacity: .8;
    }
       100%{    
           transform: scale(1);
           opacity: 1;
       }
    }
    
       #preloader{
        background : rgb(255, 255, 255) url(images/loader.gif) no-repeat center center; 
        background-size: 20%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    button{
        border: none;
        color: rgb(255, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    }
    .button_insta{

        
        position: absolute;
        top: 55%;
        left: 55%;
        right: 55%;
        bottom: 55%;
        width: 100%;
        height: 100%;
        z-index: 100;

    }